* {
  list-style-type: none;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#homepageBkg {
  background-image: url(./assets/background.png);
  width: 100vw;
  height: 100vh;
  left: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html,
body {
  background-color: black;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#animeResults {
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(min-content, 1fr)
  ); /* Flexible columns */
  gap: 8px; /* Adjust the gap between items as needed */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

#fig:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
}
#topTenContainer {
  width: 15%; /* Shrink the width of the container */
  max-width: 1250px; /* Maximum width of the container */
  position: fixed; /* Fix the container's position relative to the viewport */
  bottom: 1; /* Position at the bottom */
  right: 0; /* Position at the left */
  margin-right: 30px; /* Remove any default margin */
  padding: 16px; /* Optional: Add some padding inside the container */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: Background with transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  max-height: 1250px; /* Adjust to leave space for the navbar */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}
#resultsContainer {
  width: 90%; /* Shrink the width of the container */
  max-width: 1250px; /* Maximum width of the container */
  position: fixed; /* Fix the container's position relative to the viewport */
  bottom: 1; /* Position at the bottom */
  left: 0; /* Position at the left */
  margin: 0; /* Remove any default margin */
  padding: 16px; /* Optional: Add some padding inside the container */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: Background with transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  max-height: 1250px; /* Adjust to leave space for the navbar */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}
#cardImg {
  border-radius: 10px;
}
